@import 'https://fonts.googleapis.com/css?family=Alegreya+Sans';
@import 'https://fonts.googleapis.com/css?family=Bellefair';
@import 'https://fonts.googleapis.com/css?family=Josefin+Slab';
@import 'https://fonts.googleapis.com/css?family=Josefin+Sans';
@import url(https://fonts.googleapis.com/css?family=Lato:100,300,400);


body{
	margin: 0 auto;
	padding: 0;
	height: 100%;
	width: 100%;
	min-width: 320px;
	overflow-x: hidden;
	background: transparent;
	
	color: #2f2f2f;

}
.btn {
  position: relative;

  display: block;
  margin: 20px auto;
  padding: 0;
  width: 70px;
  height: 30px;
  overflow: hidden;

  border-width: 0;
  outline: none;
  border-radius: 3px;
  
  line-height: 22px;
  background-color: #3ABA73;
  color: #2f2f2f;
  
  
}

.content{
	text-align:center;
}

img{
	user-drag: none; 
user-select: none;
-moz-user-select: none;
-webkit-user-drag: none;
-webkit-user-select: none;
-ms-user-select: none;
}

h3{
	font-family: 'Josefin Slab';
	font-size: 38px;
	font-weight: bold;

}

h2{
	font-family: 'Josefin Slab';
	font-size: 36px;
	font-weight: 100;
}


#me{
	padding-top: 10px;
	
	width: 180px;
}
#home{
	font-family: 'Josefin Slab';
	font-size: 30px;
	font-weight: 1200px;
	width: 40%;
	display: block;
	text-align: center;
	margin-top: 40px;
	border-radius: 6px;
	border:1px solid #2f2f2f;
	margin-left: 30%;
	
	line-height: 38px;
	padding: 10px 20px 10px 20px;
}

#top-line{
	
	font-family: 'Josefin Slab';
	font-size: 36px;
}

.black{
	
	color: #05BC91;
}
nav{

}

/* -- -- -- -- -- -- */


/* Content */

.full-page {
    width:100%;
    height: auto;
    position: relative;
}


.full-page:nth-child(odd) {
    background: #EEF1F6;
}

.row{
	
	width: 100%;
	min-height: 1px;
	float: center;
	
}

.col{
	background: transparent;
	min-height: 40px;
	
	
	display: inline-block;
	float: center;
	font-family: 'Josefin Slab', cursive;
	font-weight: 200px;

}

.inner{
	padding-top: 14px;
}

.center{
	padding:3% 0 0 0;
}

.col.md h4{
	-webkit-transform: translateY(-50%) translateZ(60px) scale(0.94);
            transform: translateY(-50%) translateZ(60px) scale(0.94);
    top: 50%;
    position: absolute;
    left: 0;
    width: 100%;
    padding: 2rem;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    outline: 1px solid transparent;
    -webkit-perspective: inherit;
            perspective: inherit;
    z-index: 2;
}


.col.md:hover{
	-webkit-transform: rotateY(-180deg);
            transform: rotateY(-180deg);
            box-shadow: none;
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
            transition: transform .8s cubic-bezier(0.4, 0.2, 0.2, 1);
}



.col.sm:hover{
	-webkit-transform: scale(1.15,1.15);
	-webkit-transition: 0.8s;
}
.col:first-child{
	margin-left: 0px;
}
.col:last-child{
	margin-right: 0px;
}

.col.lg{
	background: cover;
}
.col.md{
	width: 210px;
	
    transition: 0.3s;
    height: 210px;
    border-radius: 0px;
    
   
   	font-weight: bold;
   background-image:url(../img/file.png); 
    background-size: 100px auto;
     background-repeat: no-repeat;background-position: center;
}
#file2{
	background-image:url(../img/file2.png);
}
.col.md2{
	width: 0px;
	box-shadow: 0 0 12px 0 rgba(0,0,0,0.1);
    transition: 0.3s;
    height: 0;
    border-radius: 4px;
    cursor:pointer;
    font-size: 30px;
   line-height: 80px;
   	font-weight: bold;  
	
	display: inline;
	color: #2f2f2f;
}

.col.md2 a{
	padding-left: 18px;
	color: #05BC91;
	padding-right: 14px;
}
#coursera{
	
	color: #028DB4;

}


.col.sm{
	width: 12%;
	 box-shadow: 0 4px 8px 0 rgba(0,0,0,0.1);
    transition: 0.3s;
   cursor:pointer;   
    height:120px;
    width:120px;
    line-height: 350px;
    font-weight: bold;
    -webkit-border-radius:75px;
    -moz-border-radius:75px;
    margin-right: 52px;
	}


.col.md2:hover{
	-webkit-transform: scale(1.1,1.1);
	transition: 0.9s;
}

/* -- -- -- -- -- -- */

/*  Tile Flip   */

.side{
  backface-visibility: hidden;
  border-radius: 0px;
  height: 100%;
  position: absolute;
  overflow: hidden;
  width: 100%;
}
.back{
  background: #fff;
  box-shadow: none;
  color: #2f2f2f;
  width: 80%;
  line-height: 24px;
  text-align: center;
  transform: rotateY(180deg);
  font-family: "Bellefair";
  font-size: 18px;
}
.button{
	  width: 100px;
  padding: 5px 10px;
  text-align: center;
  color: #38B872;
  border: solid 1px #05BC91;
  z-index: 1;
  cursor: pointer;

}
.col.md:hover .front{
	transition:0.2s;
	visibility: hidden;
}
/* -- -- -- -- -- -- */



/* Project Tiles  */



/* -- -- -- -- -- -- -- */

/* Profiles */

#github{
	background-image: url(https://image.flaticon.com/icons/png/512/25/25231.png);
    background-size: cover;
     background-repeat: no-repeat;background-position: center;
}
#linkedin{
	background-image: url(https://cdn3.iconfinder.com/data/icons/free-social-icons/67/linkedin_circle_color-512.png);
    background-size: cover;
     background-repeat: no-repeat;background-position: center;

}
#codepen{
	background-image: url(http://www.katarzyna-kwasniewska.co.uk/img/codepen.png);
    background-size: cover;
     background-repeat: no-repeat;background-position: center;

}
#freecodecamp{
	background-image: url(https://image.ibb.co/bKeMUk/fcc.png);
    background-size: cover;
     background-repeat: no-repeat;background-position: center;

}
#codeschool{
	background-image: url(https://www.codeschool.com/assets/pages/brand/downloads/brand-mark-47100518b9ef3c7d41cb081576451d74f8ce24b4cc6f7948cb6913f84da3072d.png);
	background-size: cover;
	background-repeat: no-repeat;background-position: center;
}


/* -- -- -- -- -- */

/* Menu */

.menu a,h4{
	padding-right: 11px;
	text-decoration: none;
	
	font-family: 'Bellefair';
	font-size: 17px;
	color: #2f2f2f;
}
.menu a:hover{
	color: #3ABA73;
}


#portfolio{
	font-size: 19px;
}

/*  -- -- -- -- -- --  */

/*  -- Progressbar --  */

.progress{
	width: 50%;
	padding-left: 25%;
	padding-top: 130px;
}

.text{
	font-family: "Bellefair";
	font-size: 28px;
	line-height: 40px;
	color: #2f2f2f;
}

.snake {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	
	margin: 0 auto;
	padding: 20px;
  
	list-style: none;
 
}

li {
	display: inline-flex;
  	
	display: block;
	height: 20px;
	position: absolute;
}
.ribbon{

	justify-content: space-between;
  	width:6%;
	height: 20px;
	margin-left: 20px;
	position: relative;
	background: #85ffd5;
	border-radius: 20px;
	border-bottom: 4px solid #3BA99C;
}
.barback{
  	justify-content: space-between;
 	width: 100%;
	height: 20px;
	margin-left: 20px;
	position:fixed;
  	z-index:-3;
	background: #eee;
	border-radius: 20px;
	border-bottom: 4px solid #ddd;
}
#dot{
  @extend .ribbon;
  margin-left:95%;
  margin-top:7px;
  background: #3BA99C;
	height: 8px;
	width: 9px;
	border-radius: 10px;
	right: 20px;
	bottom: 8px;
	border-color: transparent;
}
@keyframes hireme{
	0%,80%{
	-webkit-transform: scaleX(2);
	transition: 0.7s;
	}
}

/*  -- -- -- -- -- --  */

/* About Me */

.aboutme{
	font-family: 'Josefin Slab';
	font-size: 30px;
	font-weight: 1200px;
	width: 60%;
	display: block;
	text-align: center;
	margin-left: 20%;
	border-top: 1px solid #D7D7D7 ;
}

/* -- -- -- -- -- -- */

/*  Footer  */

.hashtag{
	bottom: 0;

}

.hash a{
	padding-right: 7px;
	font-family: 'Alegreya Sans';
	font-size: 20px;
}
#e1{color: #38ACEC;}
#e2{color: #728C00;}
#e3{color: #E9AB17;}
#e4{color: #6F4E37;}
#e5{color: #2B60DE;}
#e6{color: #F535AA;}
#e7{color: #9172EC;}
#e8{color: #F88017;}

/* -- -- -- -- -- -- */

.scrollup{
    width:40px;
    height:40px;
    opacity:0.3;
    position:fixed;
    bottom:50px;
    right:100px;
    display:none;
    text-indent:-9999px;
    background:url(../images/img-gototop.png) no-repeat;
}

#clik img:hover{
	cursor: pointer;
    -webkit-transform: scale(1.1,1.1);
    transition: 0.5s ease-in;
    }